<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2026 王孝慈. All rights reserved. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.security.app-sandbox</key><true/>
    <key>com.apple.security.application-groups</key>
    <array><string>group.cn.laobamac.Mirage.Development</string></array>
</dict>
</plist>
